.flex{
    
    border: 2px solid black;
    width: 95vw;
    height: 95vh;
   
    
}
.box{
    margin-top: 400px !important;
    margin: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid black;
}